.ftr-wrapper {
    position: relative;
    background-color: ($main-color);
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 10px;
}

.ftr-text {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 10px;
}