$font: 'poppins', sans-serif;
$font: 'josefin sans', sans-serif;

$main-button-color: #1b5672;
$main-button-hover-color: #061e30;
$main-button-text-color: #ffffff;
$main-button-inactive-color: #e1e1e1;
$main-color: #f5a207;
$background-color: #130623;
$nav-button-text-color: #1b5672;
$nav-button-hover-color: #061e30;
$nav-button-inactive-color: #00000000;
$white-color: #ffffff;

// 6ac6cd
// $main-button-color: #551b72;
// $main-button-hover-color: #270630;